body,
td,
th {
  font-family: Verdana;
  font-size: 12px;
  color: #fff;
}
body {
  background-color: #000;
  margin-top: 20px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
}
.klein {
  font-size: 10px;
  color: #fff;
}
.zwart {
  font-size: 12px;
  color: #000;
}
.grootzwart {
  font-size: 16px;
  color: #000;
}
.kop {
  font-size: 36px;
  font-weight: bold;
  color: #fff;
}
.grootwit {
  font-size: 16px;
  color: #fff;
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 18px;
}
h3 {
  font-size: 16px;
}
h4 {
  font-size: 14px;
}
h5 {
  font-size: 12px;
}
h6 {
  font-size: 10px;
}
input[type="submit"] {
  width: 170px;
  border-radius: 8px;
  background-color: #000;
  color: #fff;
}
input[type="button"] {
  width: 170px;
  border-radius: 8px;
  background-color: #fff;
  color: #000;
}
.submit-button {
  border: 2px solid transparent;
  border-radius: 8px;
  cursor: pointer;
}
.submit-button:hover {
  border-color: #fff;
}
