body {
  background-color: #009;
  margin-top: 20px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
}
.zwart {
  font-size: 12px;
  color: #000;
}
.groot {
  font-size: 16px;
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 18px;
}
h3 {
  font-size: 16px;
}
h4 {
  font-size: 14px;
}
h5 {
  font-size: 12px;
}
h6 {
  font-size: 10px;
}
div.scroll {
  background-color: #fff;
  width: 995px;
  height: 440px;
  overflow: auto;
}
