.afbeelding-button {
  width: 60px;
  height: 60px;
  background: none; /* Geen standaard knopkleur */
  border: none; /* Geen rand */
  padding: 0; /* Geen extra ruimte */
  cursor: pointer;
}

.afbeelding-button img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Styling voor tablets OnderOns Beverwijk */
@media only screen and (min-width: 1000px) and (max-width: 2500px) {
  body {
    background-color: #000;
    width: 95vw;
    max-width: 1200px;
	margin-top:5px;
	margin-bottom:5px;
    margin-right: auto;
	margin-left: auto;
    font-family: Verdana, Geneva, sans-serif;
    color: #fff;
    font-size: 0.9em;
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 18px;
  }

  .afbeelding-button {
    width: 110px;
    height: 110px;
  }

  .cancel-button {
    width: 180px;
    height: 50px;
    font-size: 24px;
    background-color: #666;
    color: #fff;
    border-radius: 8px;
    border: 1px solid transparent;
    cursor: pointer;
  }

  .wissel-button {
    width: 180px;
    height: 50px;
    font-size: 20px;
    background-color: #ffd700;
    color: #000;
    border-radius: 8px;
    border: 1px solid transparent;
    cursor: pointer;
  }

  .tel-button {
    width: 110px;
    height: 110px;
    background-color: #000;
    color: #fff;
    font-size: 44px;
    font-weight: bold;
    border-radius: 8px;
    border: 1px solid transparent;
    cursor: pointer;
  }

  .invoer-button {
    width: 110px;
    height: 110px;
    background-color: #000;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    border-radius: 8px;
    border: 1px solid transparent;
    cursor: pointer;
  }

  .submit-button:hover {
    border-color: #fff;
  }

  #ennog5A {
    width: 75px;
	height: 75px;
	margin-top: 5px;
    font-size: 60px;
    font-weight: bold;
    background-color: #ffd700;
    color: #f00;
    border: 2px solid white;
    border-radius: 75px;
  }

  #ennog5B {
    width: 75px;
	height: 75px;
	margin-top: 5px;
    font-size: 60px;
    font-weight: bold;
    background-color: #ffd700;
    color: #f00;
    border: 2px solid white;
    border-radius: 75px;
  }

  #car_A {
    width: 150px;
	height: 120px;
    margin: 10px;
    font-size: 90px;
    font-weight: bold;
    color: #fff;
    background-color: #f00;
    border-color: #fff;
    border: 2px solid white;
    border-radius: 30px;
  }

  #car_B {
    width: 150px;
	height: 120px;
    margin: 10px;
    font-size: 90px;
    font-weight: bold;
    color: #fff;
    background-color: #f00;
    border-color: #fff;
    border: 2px solid white;
    border-radius: 30px;
  }

  #brt {
    width: 150px;
	height: 120px;
    margin: 10px;
    font-size: 90px;
    font-weight: bold;
    color: #fff;
    background-color: #f00;
    border-color: #fff;
    border: 2px solid white;
    border-radius: 30px;
  }

  #serieA {
    width: 100px;
	height: 80px;
	margin: 5px;
    font-size: 60px;
    font-weight: bold;
    color: #fff;
    background-color: #000;
    border-color: #fff;
    border: 2px solid white;
    border-radius: 20px;
  }

  #serieB {
    width: 100px;
	height: 80px;
	margin: 5px;
    font-size: 60px;
    font-weight: bold;
    color: #fff;
    background-color: #000;
    border-color: #fff;
    border: 2px solid white;
    border-radius: 20px;
  }

  img.slot-afbeelding {
    width: 110px;
    height: 110px;
    object-fit: contain;
    max-width: 100%;
  }

  img.logo-afbeelding {
    width: 190px;
    height: 85px;
    object-fit: contain;
    max-width: 100%;
  }
}
